<div class="container">
  <h1 class="brand"><span>Welcome</span> to your information page</h1>
  <div class="wrapper">
    <div class="user-info">
      <h3>Current Information</h3>
      <ul *ngFor="let user of users | async">
        <li>
          First Name: <strong>{{user.firstName}}</strong>
          <br>
          Last Name: {{user.lastName}}
          <br>
          Address 1: {{user.addr1}}
          <br>
          Address 2: {{user.addr2}}
          <br>
          City: {{user.city}}
          <br>
          State: {{user.state}}
          <br>
          Zip Code: {{user.zip}}
        </li>
      </ul>
    </div>
    <div class="user">
      <form id="userForm">
        <p>
          <label>First Name</label>
          <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name..">
        </p>
        <p>
          <label>Last Name</label>
          <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name..">
        </p>
        <p>
          <input type="submit" value="Submit" (click)="addUser()">
        </p>
        <!--<textarea [(ngModel)]="notes" name="notes" placeholder="Notes.."></textarea> -->
      </form>
    </div>
  </div>
</div>