<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to your information page
  </h1>
</div>
<h2>User Information</h2>

<ul *ngFor="let user of users | async">
  <li>
    <strong>{{user.firstName}}</strong>
    <br>
    {{user.lastName}}
  </li>
</ul>

<input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name..">
<input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name..">
<!--<textarea [(ngModel)]="notes" name="notes" placeholder="Notes.."></textarea> -->
<input type="submit" value="Add a User" (click)="addUser()">